<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskly</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <div class="main-container">
        <div class="container">
            <img src="/logo.png" alt="">
        </div>
    </div>

    <h1>Bem-vindo ao Taskly</h1>
    <br><br>
    <h3>Organize suas tarefaz !</h3>
    <br><br>
    <h3>Taskly é sua ferramenta simples para organizar o dia a dia.
        Crie listas personalizadas, adicione e conclua tarefas com facilidade.
        Ideal para trabalho, estudos ou vida pessoal.
        Tudo em um só lugar, do seu jeito!</h3>
    <a href="/tasks">Comece a Gerenciar</a>


</body>

</html>