<link rel="stylesheet" href="/header.css">

<header>
    <nav>
        <ul>
            <li><a href="/">Taskly</a></li>
            <li><a href="/tasks">Todas as Listas</a></li>
            <li><a href="/newList">Nova Lista</a></li>
        </ul>
    </nav>
</header>